{% extends "P3CoreBundle::layout.html.twig" %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <h2>Fiche détaillée</h2><hr>
        <div class="">
            <div class="col-sm-6 col-md-6">
                <div class=""><h3>{{ expo.title }}</h3></div>
                </br>
                <div class="">Du : {{ expo.datestart|date("d/m/Y") }} au : {{ expo.dateend|date("d/m/Y") }}</div>
                </br>
                <div class="">{{ expo.content }}</div>
                </br>
            </div>

            <div class="col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5">
                <div class=""><img id="imgfiche" alt="{{ expo.image.alt }}" src="{{ asset(expo.image.webPath) }}"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}