<div class="well">
    {{ form_start(form) }}
    
    {# Les erreurs générales du formulaire. #}
  <div id="erreur">{{ form_errors(form) }}</div>
<div class="form-group ">
  {# Génération du label. #}
  {{ form_label(form.datevisite, "Date de visite", {'label_attr':{'class':'control-label'}}) }}
    
    <div class="form-inline ">
        
        {# Génération de l'input. #}
        {{ form_widget(form.datevisite.day, {'attr': {'class': 'form-control'}}) }}
        
        {# Génération de l'input. #}
        {{ form_widget(form.datevisite.month, {'attr': {'class': 'form-control'}}) }}
        
        {# Génération de l'input. #}
        {{ form_widget(form.datevisite.year, {'attr': {'class': 'form-control'}}) }}
        
        
    </div>
     {# Affichage des erreurs pour ce champ précis. #}
    <div id="erreur">{{ form_errors(form.datevisite) }}</div>
</div>
<div class="form-group">
  {# Génération du label. #}
  {{ form_label(form.type, "Choix du billet", {'label_attr':{'class':'control-label'}}) }}
    
    <div>(Si achat le jour même, billet "journée" indisponible après 14h00)</div>
       {% for type in form.type%}
    
          <div class="radio"> 
              <label>
                {# Génération de l'input. #}
                {{ form_widget(type) }}
               
                {# Génération du label. #}
                {{ form_label(type) }}
              </label>       
            </div>  
         
       {% endfor %}
     {# Affichage des erreurs pour ce champ précis. #}
        <div id="erreur">{{ form_errors(form.type) }}</div>
        
    
</div>
<div class="form-group">
  {# Génération du label. #}
  {{ form_label(form.nombrebillet, "Nombre de billet(s) souhaité(s)", {'label_attr':{'class':'control-label'}}) }}
    
  
            
    {# Génération de l'input. #}
    {{ form_widget(form.nombrebillet, {'attr': {'class': 'form-control'}}) }}
    
    {# Affichage des erreurs pour ce champ précis. #}
    <div id="erreur">{{ form_errors(form.nombrebillet) }}</div>
</div>
<div class="form-group">
    {{ form_widget(form.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}
 
</div>
    {# Génération automatique des champs pas encore écrits.
     
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}

</div>